* {
    font-family: "Geist", sans-serif;
}
#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
}